header a{
    text-decoration: none;
    float: left;
    color: #555555;
}

header p{
    float: right;
    letter-spacing: 4px;
    font-family: "Sergoe UI";   
}

header a span{
    color: #4CAF50;
}

header a:hover{
    color: #4CAF50;
}

.menu{
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: rosybrown;
    float: left;
    width: 100%;
}

.menu a{
    text-decoration: none;
    padding: 16px;
    color: white;
    display: block;
}

.menu a:hover{
    background-color: #000000;
}




