header{
    height: 30px;
}

header a{
    text-decoration: none;
    float: left;
    color: #555555;
}

header p{
    float: right;
    letter-spacing: 4px;
    font-family: "Sergoe UI";   
}

header a span{
    color: #4CAF50;
}

header a:hover{
    color: #4CAF50;
}

.menu{
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #5f5f5f;
    float: left;
    width: 100%;
    border-radius: 5px;
}

.menu a{
    text-decoration: none;
    padding: 16px;
    color: white;
    display: block;
}

.menu li{
    float:left;
}

.menu a:hover{
    background-color: #000000;
}


aside{
    background-color: #E0E0E0;
    float: left;
    height: 600px;
    width: 15%;
}

.menuvertical{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.menuvertical{
    text-decoration: none;
    color: white;
    padding: 16px 8px;
    display: block;
}

.menuvertical a:hover {
    background-color: gray;
}


section{
    background-color: white;
    height: 600px;
    width: 85%;
    float: left;
    color: #4CAF50;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
    
footer{
    background-color: #5f5f5f;
    height: 100px;
    clear: both;

}